<div class="container">
    <mat-card>
        <mat-card-title>Sign Up</mat-card-title>

        <mat-card-content>
            <form *ngIf="!isVerified" [formGroup]="resetPasswordForm" (ngSubmit)="onVerify()">
                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email" placeholder="Enter your email" required>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Security Question</mat-label>
                    <mat-select formControlName="securityQuestion" required>
                        <mat-option *ngFor="let question of securityQuestions" [value]="question.value">
                            {{ question.viewValue }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Answer</mat-label>
                    <input matInput formControlName="securityAnswer" placeholder="Your answer" required>
                </mat-form-field>

                <button mat-raised-button color="primary" type="submit" [disabled]="resetPasswordForm.invalid">Verify</button>

                <div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>
            </form>


            <form *ngIf="isVerified" [formGroup]="newPasswordForm" (ngSubmit)="onSubmit()">
                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email" placeholder="Enter your email" required>
                </mat-form-field>

                

                <mat-form-field appearance="outline">
                    <mat-label>New Password</mat-label>
                    <input [type]="hidePassword ? 'password' : 'text'" matInput formControlName="password" placeholder="New Password" required>
                    <button mat-icon-button matSuffix (click)="togglePasswordVisibility()">
            <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
                    <!-- <mat-error *ngIf="newPasswordForm.get('password')?.invalid && newPasswordForm.get('password')?.touched">
                        Please enter a valid password.
                    </mat-error> -->
                    <mat-error *ngIf="newPasswordForm.get('password')?.hasError('pattern')">
                        Password must be minimum 8 characters long.
                      </mat-error>
                                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Confirm Password</mat-label>
                    <input [type]="hidePassword1 ? 'password' : 'text'" matInput formControlName="confirmPassword" placeholder="Confirm Password" required>
                    <button mat-icon-button matSuffix (click)="togglePasswordVisibility1()">
            <mat-icon>{{ hidePassword1 ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
                    <mat-error *ngIf="newPasswordForm.get('confirmPassword')?.invalid && newPasswordForm.get('confirmPassword')?.touched">
                        Please enter a valid password.
                    </mat-error>
                </mat-form-field>

                <button mat-raised-button color="primary" type="submit" [disabled]="newPasswordForm.invalid">Reset Password</button>

                <div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>
            </form>
        </mat-card-content>
    </mat-card>
</div>