<div class="container">
    <mat-card>
        <mat-card-title>Sign Up</mat-card-title>

        <mat-card-content>
            <form [formGroup]="signUpForm">
                <mat-form-field appearance="outline">
                    <mat-label>Name</mat-label>
                    <input matInput formControlName="name" placeholder="Name" required>
                    <mat-error *ngIf="signUpForm.get('name')?.invalid && signUpForm.get('name')?.touched">
                        Please enter a valid name.
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email" placeholder="Email" required>
                    <mat-error *ngIf="signUpForm.get('email')?.invalid && signUpForm.get('email')?.touched">
                        Please enter a valid email.
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Mobile Number</mat-label>
                    <input 
                      matInput 
                      formControlName="mobile" 
                      placeholder="Enter your mobile number"
                    >
                    <mat-error *ngIf="signUpForm.get('mobile')?.hasError('required')">
                      Mobile number is required.
                    </mat-error>
                    <mat-error *ngIf="signUpForm.get('mobile')?.hasError('pattern')">
                      Please enter a valid 10-digit mobile number.
                    </mat-error>
                  </mat-form-field>
                  

                  <mat-form-field appearance="outline">
                    <mat-label>Password</mat-label>
                    <input 
                      [type]="hidePassword ? 'password' : 'text'" 
                      matInput 
                      formControlName="password" 
                      placeholder="Password" 
                      required>
                    <button mat-icon-button matSuffix (click)="togglePasswordVisibility()" type="button">
                      <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-error *ngIf="signUpForm.get('password')?.hasError('required') && signUpForm.get('password')?.touched">
                      Password is required.
                    </mat-error>
                    <mat-error *ngIf="signUpForm.get('password')?.hasError('pattern')">
                      Password must be minimum 8 characters long.
                    </mat-error>
                  </mat-form-field>
                  

                <mat-form-field appearance="outline">
                    <mat-label>Confirm Password</mat-label>
                    <input [type]="hidePassword1 ? 'password' : 'text'" matInput formControlName="confirmPassword" placeholder="Confirm Password" required>
                    <button mat-icon-button matSuffix (click)="togglePasswordVisibility1()">
                        <mat-icon>{{ hidePassword1 ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-error *ngIf="signUpForm.get('confirmPassword')?.invalid && signUpForm.get('confirmPassword')?.touched">
                        Please enter a valid password.
                    </mat-error>
                </mat-form-field>

                <!-- Security Questions -->
                <mat-form-field appearance="outline">
                    <mat-label>Security Question 1</mat-label>
                    <mat-select formControlName="securityQuestion1" (selectionChange)="onQuestionChange($event.value, 'securityQuestion1')" required>
                        <mat-option *ngFor="let question of securityQuestions" [value]="question.value" [disabled]="selectedQuestions.includes(question.value)">
                            {{ question.viewValue }}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="signUpForm.get('securityQuestion1')?.invalid && signUpForm.get('securityQuestion1')?.touched">
                        Please select a security question.
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Answer</mat-label>
                    <input matInput formControlName="securityAnswer1" placeholder="Your answer" required>
                    <mat-error *ngIf="signUpForm.get('securityAnswer1')?.invalid && signUpForm.get('securityAnswer1')?.touched">
                        Please provide an answer.
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Security Question 2</mat-label>
                    <mat-select formControlName="securityQuestion2" (selectionChange)="onQuestionChange($event.value, 'securityQuestion2')" required>
                        <mat-option *ngFor="let question of securityQuestions" [value]="question.value" [disabled]="selectedQuestions.includes(question.value)">
                            {{ question.viewValue }}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="signUpForm.get('securityQuestion2')?.invalid && signUpForm.get('securityQuestion2')?.touched">
                        Please select a security question.
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Answer</mat-label>
                    <input matInput formControlName="securityAnswer2" placeholder="Your answer" required>
                    <mat-error *ngIf="signUpForm.get('securityAnswer2')?.invalid && signUpForm.get('securityAnswer2')?.touched">
                        Please provide an answer.
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Security Question 3</mat-label>
                    <mat-select formControlName="securityQuestion3" (selectionChange)="onQuestionChange($event.value, 'securityQuestion3')" required>
                        <mat-option *ngFor="let question of securityQuestions" [value]="question.value" [disabled]="selectedQuestions.includes(question.value)">
                            {{ question.viewValue }}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="signUpForm.get('securityQuestion3')?.invalid && signUpForm.get('securityQuestion3')?.touched">
                        Please select a security question.
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Answer</mat-label>
                    <input matInput formControlName="securityAnswer3" placeholder="Your answer" required>
                    <mat-error *ngIf="signUpForm.get('securityAnswer3')?.invalid && signUpForm.get('securityAnswer3')?.touched">
                        Please provide an answer.
                    </mat-error>
                </mat-form-field>

                <button mat-raised-button color="primary" type="submit" [disabled]="signUpForm.invalid" (click)="onSubmit()">Sign Up</button>
            </form>
        </mat-card-content>
    </mat-card>
</div>